[submodule "roles/common/files/oh-my-zsh"]
	path = roles/common/files/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	ignore = dirty
[submodule "roles/openvswitch/files/ovs"]
	path = roles/openvswitch/files/ovs
	url = https://github.com/openvswitch/ovs.git
	ignore = dirty
[submodule "roles/floodlight/files/fl"]
	path = roles/floodlight/files/fl
	url = https://github.com/hoangmngo/floodlight.git
	ignore = dirty
